body {
    background-color: rgb(255, 225, 0);
    color: black;
    margin: 0;
}

h1 {
    font-family: "Tangerine", serif;
    font-size: 68px;
    text-align: center;
    margin: 0 px 5px;
    padding: 0px;
}

h2 {
    font-size: 32px;
    color: black;
    padding: 0px 25px;
}

.Navigation-Bar {
    background-color: rgb(161, 169, 13);
    border-bottom: black solid 2px;
    border-top: solid black 2px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto 0px;
    padding: 10px;
}

header {
    background-color: cornflowerblue;
    color: black;
    border-top: black 0px solid;
    border-bottom: black 5px solid;
    margin: auto 0px;
    padding: 5px 0px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 17px;
    margin: 0px 25px;
}

header a:hover{
    cursor: pointer;
    color: black;
}

.AboutTitle {
    display: flex;
}

#About {
    border: 2px black solid;
    padding: 20px;
}

main{
    background-color: orange;
    font-family: "Figtree", italic;
    padding: 10px;
    margin: 250px 0px 20px;
}

.section {
    color:blueviolet;
}

#image {
    text-align: center;
    color: black;
    border: 2px rgb(207, 216, 31) solid;
    margin-top: 10px;
}

#Experience {
    text-align: center;
    color: black;

}
#Experience ul{
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
    display:flex;
    margin: auto 0px;
    padding: 0px;
}

.columns {
    display: flex;
}
.column {
    margin: 0 auto;
    padding: 20px;
}
#Connect {
    text-align: center;
}
footer {
    background-color: rgb(207, 216, 31);
    color: seagreen;
    margin-bottom: 30px;
}